.taskbar-title {
  background-color: #ff5152;
  color: white;
}

.task-weapons,
.task-weapons-roulette,
.task-favorites {
  color: white;
  font-size: large;
  border: none;
  background: none;
  margin-left: 40px;
  margin-top: 5px;
}

.welcome-title {
  color: white;
}

.welcome-paragraph {
  color: white;
}

.gun-name {
  color: white;
  font-size: 150%;
  text-align: center;
}

.filter-by {
  color: white;
  margin-right: 1rem;
}

.fa-star {
  color: white;
  font-size: 1.25rem;
  margin: 10px 8px;
  cursor: pointer;
}

.fa-star.favorited {
  color: gold;
  cursor: pointer;
}

.pop-up {
  background-color: #ededed;
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 100;
  width: 60%;
  overflow: auto;
}

.pop-up-heading {
  background-color: #8fdbc9;
  display: flex;
  padding: 1rem;
}

.pop-up-heading-column-half {
  flex-basis: 50%;
}

.pop-up-content {
  display: flex;
  padding: 1rem 1.5rem;
}

.pop-up-column-half {
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
}

.gun-display-name {
  font-size: 1.5rem;
}

/* .hidden {
  display: none;
} */

/* .pop-up {
  height: 200px;
  width: 200px;
  background-color: red;
  display: none;
} */
