.taskbar-title {
  background-color: #ff5152;
  color: white;
}

.task-weapons,
.task-weapons-roulette,
.task-favorites {
  color: white;
  font-size: large;
  border: none;
  background: none;
  margin-left: 40px;
  margin-top: 5px;
}

.welcome-title {
  color: white;
}

.welcome-paragraph {
  color: white;
}

.gun-name {
  color: white;
  font-size: 150%;
  text-align: center;
}

.filter-by {
  color: white;
  margin-right: 1rem;
}

.fa-star {
  color: white;
  font-size: 1.25rem;
  margin: 10px 8px;
  cursor: pointer;
}

.fa-star.favorited {
  color: gold;
  cursor: pointer;
}
